/*DE RECURSOS LABORATORIA*/
header{
	padding:15px 0;
	margin: 0;
	color:red;
	border-bottom: 1px solid black;
	background-color: #333333;
}
.logo{
	width: 80px;
	height: 80px;
}
nav ul{
	list-style-type: none;
	padding-top: 34px;
	margin: 0 -15px 0 0;
	float: right;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	white-space: nowrap;
}
nav li{
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}
nav li:hover a{
	background-color: #696666;
}
nav a{
	text-decoration: none;
	padding: 10px 15px;
	color: white;
	font-family: sans-serif;
	text-shadow: 2px 2px 4px grey;
}
nav a:hover{
	color:white;
}
/*HASTA AQUI: REC LABORATORIA*/

.navimg{
	width: 200px;
	height: 200px;
	border: 1px solid #D2CDCD;
	padding: 2px;
}
.epi{
	font-family: 'Monda', sans-serif;
	text-align: left;
}

nav.grey{
	background-color: #EEEEEE;
	border-bottom: 2px solid #D2CDCD;
	padding-bottom: 30px;
}
h2.epi{
	margin: 15px;
}
nav.grey a, div.col-2 a{
	text-decoration: none;
	color: #7176BC;
	text-shadow: 0px 0px 0px #414684;
	text-align: center;
	font-size: 12px;
	font-family: sans-serif;
}
h2.epi a{
	font-size: 10px;
	text-shadow: 0px 0px 0px #414684;
}
nav.grey a:hover, div.col-2 a:hover, div.subscribe a:hover, .Bandwith a:hover{
	color:#A90000;
	text-shadow:0px 0px 0px #A90000;
}
.peq{
	width: 100px;
	height: 100px;
	margin-top: 30px;
}
div.subscribe h2, div.subscribe a{
	font-family: Arial;
	font-size: 18px;
	color:#777777;
	text-align: left;
	padding-bottom: 5px;
}
div.subscribe img{
	margin-left: 0;
}
div.subscribe a{
	font-size: 14px;
	left: 0;
	text-shadow: none !important;
	text-decoration: none;
	color:#7176BC;
	text-align: left;
}
hr{
	left: 0;
	width: 100%;
}
div.subscribe img{
	padding-right: 15px;
	padding-left: 5px;
	height: 12px;
	margin-top: 5px;
}
div.subscribe{
	margin-top: 40px;
	margin-bottom: 20px;
	margin-left: 0;
}
.Bandwith{
	font-size: 14px;
	font-family: Arial;
}
.Bandwith a{	
	text-decoration: none;
	color:#7176BC;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after{
	clear: both;
}
footer{
	background-color: #585858;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 50px;
}
p#bottom_links a, footer div.col-12 p a{
	color: #ADADAD;
	text-decoration: none;
}
p#bottom_links a:hover, footer div.col-12 p a:hover{
	color: white;
}
p#bottom_links a{
	text-align: center;
}
footer div.col-12{
	font-family: Arial;
	position: relative;
}
footer div.col-12 p:first-child{
	color:white;
	text-align: left;
}
footer div.col-12 p:last-child{
	color:grey;
	font-size: 10px;
}
.imgcenter{
	text-align: center;
}
.centrado{
	text-align: center;
}
.left{
	margin-left: 2px;
}